{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bonjour, bienvenue sur votre plateforme CoachFit</h1>
<p>
    Nous sommes ravis de vous avoir dans notre équipe. Bienvenue dans notre entreprise !
Bienvenue à Coachfit. Je suis heureux de votre arrivée au sein de notre site.
Nous sommes heureux et fier que vous ayez rejoint notre équipe. Nous vous souhaitons la bienvenue !
</p>




{% endblock %}
