{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Hello !! Bienvenue sur votre plateforme CoachFit</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam temporibus iure animi minus ab modi aliquam dolor repudiandae quia distinctio? Perferendis delectus corrupti fuga molestias consequatur dignissimos ex quam natus.
</p>
{% endblock %}
